.LeavingX{
    animation: LeavingX 10.5  ease-in-out  forwards ;
}
@keyframes LeavingX {
    from{
     transform: translateX(100%);
    }to{
        transform: translateX(0%);
       
    }
}
.LeavingBG{
   display: none;
}
@keyframes LeavingBG {
    from{
     opacity: 1;
   
    }to{
        opacity: 0;
        display: none;
    }
} 

